{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="row bottom">
        <div class="col-sm-12 title">
            <p>ЧТО ТАКОЕ ТУРБОЙОН?</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-4">
            <img class="img-responsive" src="{% static 'core/img/breitling-chasi.jpg' %}" width="320" alt="watch">
        </div>
        <div class="col-sm-8">
            <p>Мы предлагаем широкий выбор</p>
            <h3>Известных часов</h3>
            <p>Наручные часы так же многогранны, как и сама жизнь. В ТУРБИЙОН наша цель - помочь вам найти идеальные наручные часы для вас. 
            Наш опыт и страсть к часам гарантируют, что ваш визит в ТУРБИЙОН станет эксклюзивным опытом. Независимо от того, ищете ли вы автоматический, 
            ручной завод или кварцевые часы, будь то женские часы или мужские часы, будь то часы для дайвинга, летные часы или хронограф, наш обширный ассортимент 
            наверняка удовлетворит ваши потребности. <br><br>
            В нашем магазине вы найдете множество знаковых часов, таких как Omega Speedmaster, Omega Seamaster или самые известные часы от Rolex. Наш ассортимент
             включает в себя такие престижные часовые марки, как Patek Philippe, Cartier, TAG Heuer, IWC, Panerai и Breitling. </p>    
            <a href=#>ПОКАЗАТЬ ВСЕ ЧАСЫ</a>
        </div>
    </div>
    <div class="row bottom">
        <div class="row">
            <div class="col-sm-8">
                <p>Лучший путь к мечте</p> 
                <h3>Ваши часы</h3>
                <p>Покупка роскошных часов через интернет - вопрос доверия. Именно поэтому ТУРБИЙОН гарантирует безопасные покупки в 
                Интернете со 100% подлинными часами. Часы в нашем магазине происходят из сети концессионеров, которые продают часы. 
                Каждые часы отправляются в оригинальной упаковке с гарантийной карточкой, заверенной печатью и датой покупки концессионером, 
                поэтому ваши часы полностью и на международном уровне покрываются гарантией производителя.<br><br>
                Мы предлагаем все стандартные и безопасные способы оплаты - VISA, Mastercard, PayPal, мгновенный банковский перевод или предоплату. 
                Заказы доставляются экспресс-курьерской службой и полностью застрахованы от стоимости их покупной цены. Посылка, как правило, 
                доставит вас в течение 3-5 рабочих дней.</p>
                <a href=#>НАШ СЕРВИС</a>
            </div>
            <div class="col-sm-4">
                    <img class="img-responsive" src="{% static 'core/img/w.jpg' %}" width="320" alt="watch">
            </div>
        </div>
    </div>  
</div>

{% endblock %}