<!DOCTYPE html>
<html lang="en">
<head>
  <title>Turbion Watches</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  {% load staticfiles %}
  <link rel="stylesheet" type="text/css" media="screen" href="{% static 'main.css' %}" />
  <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
</head>
<body>

    {% block content %}
    {% endblock %}


</body>
<footer>
<div class="jumbotron color">
    <div class="container bottom">
        <div class="row top text-white">
            <p>Подписаться на новости</p>
        </div>
        <form class="form-inline">
            <div class="form-group mb-2 margin-right">
                <input type="email" class="form-control" id="exampleFormControlInput1" placeholder="name@example.com">
            </div>
            <button type="submit" class="btn btn-primary mb-2 bronze">Подписаться</button>
        </form>
    </div>
    <hr color="white">
    <div class="container">
        <div class="row bottom text-white">
            <div class="col-sm-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link padding active bold14" href="#">О НАС</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white" href="#">О компании</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Отзывы</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Сроки и условия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Политика конфиденциальности</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link padding active bold14" href="#">ЛИЧНЫЙ КАБИНЕТ</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white" href="#">Логин</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Статус заказов</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Список желаний</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Платежная информация</a>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link padding active bold14" href="#">ПОДДЕРЖКА</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white" href="#">Условия возврата</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Доставка</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">Гарантия</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link font12 text-white pad2" href="#">FAQs</a>
                    </li>
                 </ul>
            </div>
            <div class="col-sm-3">
                <ul class="nav flex-column">
                    <li class="nav-item">
                        <a class="nav-link padding active bold14" href="#">КОНТАКТЫ</a>
                    </li>
                    <li class="nav-item font12">
                        <p>0 800 895623</p>
                    </li>
                    <li class="nav-item font12">
                        <p>e-mail: info@turbion.com</p>
                    </li>
                    <li class="nav-item font12">
                        <p>адрес: г. Харьков, </p>
                    </li>
                    <li class="nav-item font12">
                        <p>пр.Науки, 40</p>
                    </li>
                </ul>
            </div>
            <div class="col-sm-2">
                <ul class="nav flex-column">
                    <li class="nav-item bold14">
                        <p>ПЛАТЕЖНЫЕ СИСТЕМЫ</p>
                    </li>
                    <li class="nav-item">
                        <img class="img-responsive" src="/img/visa-mastercard-icon.png" width="150" alt="Visa Master Card">
                    </li>

                    </ul>
                </div>
        </div>
    </div>
    <hr color="white">
    <div class="container text-white">
        <div class="row top">
            <p>Турбийон <sup>ТМ</sup> - все права защищены</p> 
        </div>
    </div>

</div>

</footer>
</html>
