{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="row bottom">
        <div class="col-sm-12 title">
            <p>ПОЛИТИКА КОНФИДЕНЦИАЛЬНОСТИ</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-12">
            <p>Внимание! Перед просмотром этого сайта обязательно внимательно ознакомьтесь с данными условиями. 
                Если вы не согласны с этими условиями, не используйте этот сайт.
                1. Использование сайта
                1.1 Сайт Watch4you.com.ua (далее «Watch4you») разрешает вам просматривать и загружать материалы 
                этого сайта (далее «Сайт») только для личного некоммерческого использования, при условии 
                сохранения вами всей информации об авторском праве и других сведений о праве собственности, 
                содержащихся в исходных материалах и любых их копиях.
                1.2 Запрещается изменять материалы этого Сайта, а также распространять или демонстрировать их в 
                любом виде или использовать их любым другим образом для общественных или коммерческих целей. 
                Любое использование этих материалов на других сайтах или в компьютерных сетях запрещается.
                1.3 При оформлении заказа вы соглашаетесь предоставить достоверную и точную информацию о себе и 
                своих контактных данных. Интернет-магазин Watch4you.com.ua оставляет за собой право рассылки 
                наших акционных предложений на ваш номер или адрес электронной почты, указанный в заказе. Если вы 
                не хотите получать информативные смс или электронные письма по нашим акциям, просто позвоните в 
                центр приема звонков и откажитесь или напишите отказ от рассылки на почту sales@watch4you.com.ua. 
                При отказе мы обязуемся исключить ваш адрес из смс или e-mail рассылки.
                1.4 Вы можете обращаться к нам с вопросами, претензиями, пожеланиями по улучшению работы, либо с 
                какой-либо иной информацией. При этом вы несете ответственность, что данное обращение не является 
                незаконным, угрожающим, нарушает авторские права, дискриминацию людей по какому-либо признаку, а 
                также содержит оскорбления либо иным образом нарушает действующее законодательство Украины.
                2. Oтказ от ответственности
                2.1 Материалы и услуги этого сайта предоставляются «как есть» без каких-либо гарантий. Watch4you 
                не гарантирует точности и полноты материалов, программ и услуг, предоставляемых на этом Сайте.
                2.2 Watch4you в любое время без уведомления может вносить изменения в материалы и услуги, 
                предоставляемые на этом Сайте, а также в упомянутые в них продукты и цены.
                2.3 В случае устаревания материалов и услуг на этом Сайте Watch4you не обязуется обновлять их.
                2.4 Watch4you ни при каких обстоятельствах не несет ответственности за любой ущерб (включая, но 
                не ограничиваясь ущербом от потери прибыли, данных или от прерывания деловой активности), 
                возникший вследствие использования, невозможности использования или результатов использования 
                этого сайта.
                3. Обратная связь и комментарии
                3.1 Обращаясь к нам или оставляя комментарии на сайте, вы несете ответственность, что данное 
                сообщение не является незаконным, вредоносным, угрожающим, клеветническим, оскорбляет 
                нравственность, нарушает авторские права, пропагандирует ненависть и/или дискриминацию людей по 
                расовому, этническому, половому, религиозному, социальному признакам, содержит оскорбления в 
                адрес конкретных лиц или организаций, а также каким либо иным образом нарушает действующее 
                законодательство Украины.
                3.2 Вы соглашаетесь, что любое ваше сообщение Watch4you может удалять без вашего на то согласия, 
                 также безвозмездно использовать по своему усмотрению.
                3.3 Watch4you не несет ответственности за любую информацию размещенную пользователями Сайта.
                4. Использование персональных данных
                4.1 Мы используем различные технологии для сбора и хранения информации, когда вы посещаете сайт 
                Watch4you (подробнее о защите и обработке персональных данных). Это может включать в себя запись 
                одного или нескольких куки или анонимных идентификаторов.
                4.2 Мы также используем куки и анонимные идентификаторы, когда вы взаимодействуете с услугами, 
                предложенными нашими партнерами, такими как рекламные услуги, например, которые могут появиться на других сайтах.
                Правообладателям:
                если вы нашли на сайте незаконно опубликованную вашу интеллектуальную собственность (фото, текст, 
                и др.), свяжитесь с администрацией сайта для устранения проблемы.
            </p>

        </div>

    </div>
            
 
</div>

{% endblock %}