{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="row bottom">
        <div class="col-sm-12 title">
            <p>СПОСОБЫ ДОСТАВКИ</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-12">
            <h3>КУРЬЕРОМ ПО ХАРЬКОВУ</h3>
            <p>Доставка в пределах Киева и Харькова бесплатная при заказе на сумму от 2000 грн. 
                Стоимость доставки заказов до 2000 грн составляет 100 грн.
                Курьерская служба нашей компании доставит ваш заказ в удобное для вас время и по указанному адресу. 
                На месте вы сможете удостовериться в целостности и работоспособности товара. Также вам будут 
                вручены необходимые документы на товар.
            </p>    
        </div>
    </div>
    <div class="row bottom">
        <div class="row">
            <div class="col-sm-12">
                <h3>КУРЬЕРОМ СЛУЖБЫ ДОСТАВКИ НОВАЯ ПОЧТА ПО ВСЕМ ОБЛАСТНЫМ ЦЕНТРАМ УКРАИНЫ</h3>
                <p>Доставка курьером службы доставки Новая Почта в пределах областных центров, согласно 
                    тарифам перевозчика
                    Курьерская служба Новая Почта доставит Ваш заказ в удобное для вас время и по указанному 
                    адресу. На месте вы сможете удостовериться в целостности и работоспособности товара. 
                    Также вам будут вручены необходимые документы на товар.
                    Срок доставки составляет от 2 до 4 дней в зависимости от конкретного областного центра.</p>
            </div>
        </div>
    </div>
    <div class="row bottom">
        <div class="row">
            <div class="col-sm-12">
                <h3>САМОВЫВОЗ В ХАРЬКОВЕ</h3>
                    <p>Вы можете самостоятельно забрать ваш заказ из магазинов розничной сети «Формула Времени» 
                        в Харькове. Они находятся по адресам:
                        Магазин "Формула времени" ТРЦ Sun Mall, пр. Гагарина, 181, график работы: 10:00-20:00
                        (без выходных);
                        Во всех магазинах возможен как наличный, так и безналичный расчет (расчет банковской 
                        картой через терминал)</p>
            </div>
        </div>
    </div>  
</div>

{% endblock %}