{% extends "base1.html" %}
{% block content %}
<div class="container">
    <nav aria-label="breadcrumb">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Главная</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all_brands' %}">Все часы</a></li>
                <li class="breadcrumb-item active" aria-current="page">Японские часы</li>
            </ol>
    </nav>
</div>
<div class="container top">
    <div class="background clearfix">
        <div class="col-sm-3 border-right padding-r-20 float-left"> 
            {% include "f.html" %}
        </div>
    </div>
</div>
{% endblock content %}