{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="row bottom">
        <div class="col-sm-12 title">
            <p>ГАРАНТИИ</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-12">
            <p>При покупке часов, выписывается гарантийный талон интернет-магазина Watch4you, либо гарантийный 
                талон данного бренда. Срок гарантии устанавливает производитель. В большинстве случаев, он 
                составляет 1 год. При наличии данных талонов, Вы можете самостоятельно обращаться в сервис-центры 
                для осуществления гарантийного обслуживания. Но мы НАСТОЯТЕЛЬНО РЕКОМЕНДУЕМ, при поломках часов, 
                связаться с менеджером нашего интернет-магазина, и он будет заниматься вопросом обслуживания часов в 
                сервис-центре. В первую очередь, это удобней для Вас, а также, в этом случае, часы будут быстрее 
                отремонтированы. Обращаем ваше внимание на то, что при правильной эксплуатации, проблем с часами 
                возникать не должно. А значит, и в сервисные центры обращаться не будет необходимости.
                <br>Во избежание неприятных ситуаций и недоразумений ниже приведен текст с гарантийными условиями,
                который присутствует на гарантийных талонах для часов, в нём подробно описаны условия при которых 
                 осуществляется гарантийное обслуживание.
                <br>В любом случае, мы, в каждой отдельной ситуации стараемся найти наиболее приемлемое решение 
                проблемы для всех сторон.
                <br>Гарантия распространяется на недостатки изделия, которые возникли по вине производителя. 
                Замена неисправных частей и связанная с этим работа выполняется бесплатно. Гарантийный срок 
                эксплуатации на изделие начинается с момента продажи изделия конечному потребителю. Гарантийный 
                срок эксплуатации увеличивается на время пребывания изделия в ремонте. Все условия гарантии 
                регулируются Законом Украины «О защите прав потребителей».
            </p>    
        </div>
    </div>
</div>

{% endblock %}