{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}
    <div class="container">
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb ">
                <li class="breadcrumb-item"><a href="{% url 'home' %}">Турбийон</a></li>
                <li class="breadcrumb-item"><a href="{% url 'all_brands' %}">Все часы</a></li>
                <li class="breadcrumb-item active" aria-current="page">Мужские</li>
            </ol>
        </nav>
    </div>

    <div class="container top">
        <div class="background clearfix">
            <div class="col-sm-3 border-right padding-r-20 float-left"> 
                        <h6>ФИЛЬТРЫ</h6>
                        <br>
                        <h6>Цена</h6>
                        <div class="input-group input-group-sm mb-3">
                            <div class="input-group-prepend background">
                                <span class="input-group-text" id="inputGroup-sizing-sm">от</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="inputGroup-sizing-sm">до</span>
                            </div>
                            <input type="text" class="form-control" aria-label="Small" aria-describedby="inputGroup-sizing-sm">
                        </div>
                        <h6>Бренды</h6>
                        <ul>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Default checkbox
                                </label>
                            </li>   
                        </ul>
                        <h6>Пол</h6>
                        <ul>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Мужские
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Женские
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Унисекс
                                </label>
                            </li>
                        </ul>
                        <h6>Механизм</h6>
                        <ul>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Кварцевый
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Механический
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Механический с автоподзаводом
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Автокварцевый
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Кварцевый + механический с автоподзаводом
                                </label>
                            </li>
                        </ul>
                        <h6>Материал корпуса</h6>
                        <ul>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Алюминий
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Золото
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Керамика
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Керамика+сталь
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Металл
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Металл+позолота
                                </label>
                            </li>
                            <li>
                                <input class="form-check-input" type="checkbox" value="" id="defaultCheck1">
                                <label class="form-check-label" for="defaultCheck1">
                                    Металл-полимер
                                </label>
                            </li>   
                        </ul>
            </div>
            <div class="col-sm-9 padding-l-50-r-0 float-right">
                <div>
                    <h3>Мужские часы</h3>
                </div>
                <div class="bottom">
                    <h6>Сортировать по:</h6>
                </div>
                <div class="row bottom">
                    {% for watch in watches %}
                    <div class="col-sm-4">
                        <div class="card non_boder">
                            <img class="card-img-top img-responsive" src="{{ watch.image.url }}" width="150" alt="{{watch.title}}">
                                <div class="card-body center">
                                    <h5 class="card-title-all">{{ watch.title }}</h5>
                                    <p class="card-text-all">{{watch.subtitle}}</p>
                                    <br>
                                    <h5 class="card-title-all">{{watch.price}}</h5>
                                    <div class="btn-group" role="group" aria-label="Basic example">
                                        <button type="button" class="btn btn-secondary bronze">
                                            <a href=#><img class="img-responsive" src="{% static 'core/img/shopping-bag-50.png' %}" width="30" alt="карзина"></a>
                                        </button>
                                        <button type="button" class="btn btn-secondary grey">
                                            <a href=#><img class="img-responsive" src="{% static 'core/img/wish_list.png' %}" width="30" alt="список желаний"></a>
                                        </button>
                                        <button type="button" class="btn btn-secondary grey">
                                            <a href=#><img class="img-responsive" src="{% static 'core/img/scale.png' %}" width="30" alt="Добавить в сравнение"></a>
                                        </button>
                                    </div>
                                </div>
                        </div>
                    </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    <nav aria-label="Page navigation example">
                <ul class="pagination justify-content-end">
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Previous">
                      <span aria-hidden="true">&laquo;</span>
                      <span class="sr-only">Previous</span>
                    </a>
                  </li>
                  <li class="page-item"><a class="page-link" href="#">1</a></li>
                  <li class="page-item"><a class="page-link" href="#">2</a></li>
                  <li class="page-item"><a class="page-link" href="#">3</a></li>
                  <li class="page-item">
                    <a class="page-link" href="#" aria-label="Next">
                      <span aria-hidden="true">&raquo;</span>
                      <span class="sr-only">Next</span>
                    </a>
                  </li>
                </ul>
    </nav>
    </div>
    

{% endblock  %}