{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}


<div class="container">
    <div class="row bottom">
        <div class="col-sm-12 title">
            <p>ОПЛАТА</p>
        </div>
    </div>
    <div class="row bottom">
        <div class="col-sm-12">
                <p>НАЛИЧНЫЙ РАСЧЕТ
                    Если Вы находитесь в городе Киеве или Харькове, то оплата осуществляется по факту доставки 
                    часов, после того как осмотрите их и убедитесь, что данные часы полностью соответствуют 
                    Вашему заказу.
                    Если Вы выбрали курьерскую доставку службой Мист Экспресс, то оплата также осуществляется 
                    по факту доставки товара, после того как осмотрите его и убедитесь, что данный товар 
                    полностью соответствуют Вашему заказу.
                    Если вы находитесь в другом городе Украины, то оплата производится наложенным платежом в 
                    офисе компании "Новая Почта" после того как вы убедитесь, что данные часы полностью 
                    соответствуют вашему заказу, т.е. Вы платите по факту получения часов. Все расходы по 
                    доставке и комиссии за перевод денег в данном случае интернет-магазин Watch4you.com.ua 
                    берёт на себя. Адреса представительств компании "Новая Почта" можно посмотреть здесь.
                    Если в вашем населённом пункте отсутствует представительство службы доставки "Новая Почта" 
                    либо вы хотите использовать другую службу доставки (Укрпочта, Автолюкс, Гюнсел, Евроэкспресс, 
                    Ночной экспресс и др.), то вопрос оплаты необходимо согласовать с нашими менеджерами.
                </p>

        </div>

    </div>
            
 
</div>

{% endblock %}