{% extends 'base1.html' %}
{% load staticfiles %}

{% block content %}

<div class="container">
    <div class="bottom top">
        <h5> Мой личный кабинет </h5>
    </div>
    <ul class="nav nav-tabs">
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'profile' %}">Мои данные</a>
                                  
            <div class="bottom margin-top left">
                <form method="post">{% csrf_token %}
                    {{ form.as_p }}
                    <input type="submit">
                </form>
            </div>
           
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'orders' %}">Мои заказы</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Мой список желаний</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="#">Мои платежные данные и доставка</a>
        </li>
    
    </ul>
</div>

{% endblock %}